
.container{
    box-sizing: border-box;
     
  }
  .card-header{
      padding: 0px;
      background: black;
      color: antiquewhite;
     
  }
  
  .column{
      /* margin-top: 20px; */
      margin-bottom: 30px;
      padding: 20px;
      align-items:center;
      justify-content: space-around;
      
  
  }
  .card-Text{
     text-align: center;
     text-overflow: ellipsis;
  }
  .card{
      /* margin: 15px; */
      /* width: 30rem; */
      padding: 0px;
      background-color: rgb(191, 191, 191);
  
  }
  .cardbody{
     
      background: rgb(118, 116, 116) !important;
  }
  img{
      width:150px;
      height: 250px;
  }
  .row{
      display: flex;
      flex-wrap: row;
      
  }